body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2a3132; 
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  border: none;
  border-radius: 25px;
  text-align: center;
}
h1{
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}
/************** 
 Input Fields
***************/
#username, #pass{
  border: 2px solid #0097e6;
  background: none;
  display: block;
  margin: 30px auto;
  padding: 15px 8px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
}
/************** 
   On Focus
***************/
#username:focus, #pass:focus{
  width: 280px;
  border-color: #6fb98f;
}
/************** 
 Submit Button
***************/
#submit{
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
}
/************** 
   On Hover
***************/
#submit:hover{
  background: #2ecc71;
}